#instafeed {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint(xsmall) {
    flex-direction: column;
  }

  .post {
    position: relative;
    border: 1px solid white;
    width: 33%;

    @include breakpoint(xsmall) {
      width: 100%;
    }
  }

  a {
    border-bottom: none;

    img {
      display: block;
      width: 100%;
    }
  }

  .analytics {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: -2em;
    width: 100%;

    > span:first-of-type {
      margin-right: 1em;
    }
  }
}
